<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head(title='Registro | UNLa Library')"></head>
    <body>
        <nav th:replace="fragments/navegacion"></nav>
        <div class="container-login">
            <div class="d-flex flex-column align-items-center w-100">
                <img src="../static/img/iconos/check.svg" class="mb-4" style="width:70px" th:src="@{../img/iconos/check.svg}">
                <h1>El registro fue exitoso!</h1>
                <p class="mb-4">Tu cuenta de usuario ya esta disponible</p>
                <a th:href="@{/login}" class="mb-5"><button class="btn btn-primary">Login</button></a>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"> </footer>
    </body>
</html>