.encabezado{
    background-color: #7c1331;
    color: white;
}

.espaciador{
	padding: 50px;
}

.footerInferior{
    width: 100%;
    height: 41px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: grey;
    text-align: center;
    padding: 15px;
    color: white;
}

.botonBuscar{
	background-color: blue;
}

.container-login{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.add-documento{
    font-size: 5.5em;
    border-style: dotted;
    border-radius: 20px;
    height: 3.2em;
    line-height: 3.2em;
    transition: 0.3s;
}

.add-documento:hover{
    color: #FFF!important;
    border-style: solid;
    background-color: #0d6efd;
}

.valoracion-estrella{
    cursor: pointer;
}