<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Documento | UNLa Library')"></head>
   
   <body>
      <nav class="navbar encabezado">
         <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">UNLa Library</span>
         </div>
      </nav>

    <div class="container espaciador">
      <h2 class="mb-4">Detalle de documento</h2>
		  <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
          <div class="card h-100">                  
            <div class="card-body">
              <h2 th:text="${documento.titulo}" class="card-title"></h2>
              <p th:text="${documento.universidad}" class="card-text"> </p>
              <p th:text="${documento.carrera}" class="card-text"> </p>
              <p th:text="${documento.materia}" class="card-text"> </p>
              <p th:text="${documento.profesor}" class="card-text"> </p>
              <p th:text="${documento.descripcion}" class="card-text"> </p>
            </div>
            <div class="card-footer">
              <!-- Vista previa del documento -->
              <button id="vpButton"type="button" class="btn btn-outline-primary btn-md" data-bs-toggle="modal" data-bs-target="#vistaPrevia">Vista previa</button>
              <div class="modal fade" id="vistaPrevia" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="vistaPreviaLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="vistaPreviaLabel" th:text="${documento.titulo}"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="vpContainer" class="modal-body px-0 py-0">
                      <canvas id="vistaPreviaCanvas"></canvas>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <button type="button" class="btn btn-primary" id="prevPage">Anterior</button>
                      <p>Pagina <span id="pageNum"></span> de <span id="pageCount"></span></p>
                      <button type="button" class="btn btn-primary" id="nextPage">Siguiente</button>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-md" th:href="@{/listadoDocumentos/documento/descarga?id={id}(id=${documento.id})}" th:download="${documento.titulo}">Descargar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"> </footer>
    <footer th:replace="fragments/scripts :: scripts"> </footer>

    <!-- Estos scrips solo se usan aca -->
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.worker.min.js"></script> 
    <script th:src="@{../js/vistaPrevia.js}"></script>
  </body>
</html>