<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      <link href="../static/css/style.css" rel="stylesheet">
      <title>UNLa Library</title>
   </head>
   <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="../static/img/slider/portada-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
               <img src="../static/img/slider/portada-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
               <img src="../static/img/slider/portada-3.png" class="d-block w-100" alt="...">
            </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
         </button>
      </div>

      <div class="container espaciador">
         <h1 class="">¡Bienvenidos!</h1>
         <h5 class="">En este portal podrás descargar todos la bibliografía necesaria para poder estudiar sin salir de tu casa.</h5>
         <div class="espaciador">
            <p class="">Haga clic en el botón para poder buscar los documentos.</p>
            <a href="filtrarPorDepartamento.html"><button type="button" class="btn btn-primary botonBuscar">BUSCAR DOCUMENTOS</button></a>
         </div>
      </div>
      
      <footer class="footerInferior">
         <div class="container">
            <span class="align-middle">Sitio creado por: Grupo 7 | Buenos Aires - Argentina</span>
         </div>
      </footer>
      
   </body>
</html>