<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Listado de Materias | UNLa Library')"></head>
   
   <body>
    <nav th:replace="fragments/navegacion"></nav>
    <div class="container espaciador">

      <h2 th:if="${carrera != null}" class="mb-5"><a th:text="${carrera}"> </a> </h2>
      <h2 th:if="${carrera == null}" class="mb-5">Listado de todas las materias </h2>

      <ul class="list-group list-group-flush col-lg-6 col-md-12">
        <a th:if="${carrera != null}" th:each="materia:${listaMaterias}" class="list-group-item list-group-item-action fs-5 d-flex" th:href="@{/listadoDepartamentos/} + ${departamento} + @{/} + ${carrera} + @{/} + ${materia.nombre}">
          <div class="text-truncate" th:text="${materia.nombre}"></div>
          <span class="badge bg-primary rounded-pill ms-auto" th:text="${#lists.size(materia.documentos)}"></span>
        </a>
        <a th:if="${carrera == null}" th:each="materia:${listaMaterias}" class="list-group-item list-group-item-action fs-5 d-flex" th:href="@{/listadoMaterias} + @{/} + ${materia.nombre}">
          <div class="text-truncate" th:text="${materia.nombre}"></div>
          <span class="badge bg-primary rounded-pill ms-auto" th:text="${#lists.size(materia.documentos)}"></span>
        </a>
      </ul>
    </div>

    <footer th:replace="fragments/footer :: footer"> </footer>
    <footer th:replace="fragments/scripts :: scripts"> </footer>
  </body>
</html>