<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Listado de documentos | UNLa Library')"></head>
   
   <body>
    <nav th:replace="fragments/navegacion"></nav>
    <div class="container espaciador">
      <nav th:if="${departamento != null}" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/listadoDepartamentos/} + ${departamento}" th:text="${departamento}" class="text-decoration-none"></a></li>
          <li class="breadcrumb-item"><a th:href="@{/listadoDepartamentos/} + ${departamento} + @{/} + ${carrera}" th:text="${carrera}" class="text-decoration-none"></a></li>
          <li class="breadcrumb-item active" aria-current="page" th:text="${materia}"></li>
        </ol>
      </nav>

      <h2 th:if="${carrera != null && materia == null}" class="mb-4"><a th:text="${carrera}"> </a></h2>
      <h2 th:if="${materia != null}" class="mb-4"><a th:text="${materia}"> </a></h2>
      <h2 th:if="${carrera == null && materia == null}" class="mb-4">Listado de todos los documentos</h2>

      <div th:each="documento:${listaDocumentos}" class="row col gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
          <div class="card h-100 shadow">                  
            <div class="card-body">
              <h2 th:text="${documento.titulo}" class="card-title">Título</h2>
              <h5 th:text="${documento.materia.departamento}" class="card-text">Materia</h5>
              <p th:text="${documento.descripcion}" class="card-text">Resumen</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-primary btn-sm" th:href="@{/listadoDocumentos/documento?id=} + ${documento.id}">Ver documento</a>
            </div>
          </div>
        </div>
      </div>

      <footer th:replace="fragments/footer :: footer"> </footer>
      <footer th:replace="fragments/scripts :: scripts"> </footer>
   </body>
</html>