<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Departamentos | UNLa Library')"></head>
   
   <body>
      <nav th:replace="fragments/navegacion"></nav>
      <main>
         <div class="container espaciador">
            <h2 class="mb-4">Elija un departamento</h2>
         </div>
         <div class="album py-5 bg-light">
            <div class="container">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
                  <div class="col">
                     <div class="card shadow sm">
                        <img src="../static/img/iconos/dto-1.svg" th:src="@{../img/iconos/dto-1.svg}">
                        <div class="card-body">
                           <h5 class="card-text">Desarrollo Productivo y Tecnológico</h5>
                           <button type="button" class="btn btn-sm btn-outline-primary"><a th:href="@{/listadoDepartamentos/Desarrollo Productivo y Tecnológico}"> Ingresar</a></button>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <div class="card shadow sm">
						<img src="../static/img/iconos/dto-2.svg" th:src="@{../img/iconos/dto-2.svg}">
                        <div class="card-body">
                           <h5 class="card-text">Humanidades y Artes</h5>
                           <button type="button" class="btn btn-sm btn-outline-primary"><a th:href="@{/listadoDepartamentos/Humanidades y Artes}">Ingresar</a></button>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <div class="card shadow sm">
                        <img src="../static/img/iconos/dto-3.svg" th:src="@{../img/iconos/dto-3.svg}">
                        <div class="card-body">
                           <h5 class="card-text">Planificación y Políticas Públicas</h5>
                           <button type="button" class="btn btn-sm btn-outline-primary"><a th:href="@{/listadoDepartamentos/Planificación y Políticas Públicas}">Ingresar</a></button>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <div class="card shadow sm">
                        <img src="../static/img/iconos/dto-4.svg" th:src="@{../img/iconos/dto-4.svg}">
                        <div class="card-body">
                           <h5 class="card-text">Salud Comunitaria</h5>
                           <button type="button" class="btn btn-sm btn-outline-primary"><a th:href="@{/listadoDepartamentos/Salud Comunitaria}">Ingresar</a></button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer th:replace="fragments/footer :: footer"> </footer>
      <footer th:replace="fragments/scripts :: scripts"> </footer>
   </body>
</html>