<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Listado de Materias | UNLa Library')"></head>
   
   <body>
      <nav class="navbar encabezado">
         <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">UNLa Library</span>
         </div>
      </nav>

    <div class="container espaciador">
      <h2 class="mb-4">Listado de Materias</h2>

       <div th:each="materia:${listaMaterias}" class="row col gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
          <div class="card h-100">                  
            <div class="card-body">
              <h2 th:text="${materia.materia}" class="card-title">Materia</h2>
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-primary btn-sm" th:href="@{/listadoMaterias/materia?materia=} + ${materia.materia}">Ver documento</a>
            </div>
          </div>
        </div>
      </div>

      <footer th:replace="fragments/footer :: footer"> </footer>
   </body>
</html>