<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Listado de Carreras | UNLa Library')"></head>
   
   <body>
    <nav th:replace="fragments/navegacion"></nav>
    <div class="container espaciador">
      <nav th:if="${departamento != null}" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page" th:text="${departamento}"></li>
        </ol>
      </nav>

      <h2 th:if="${departamento != null}" class="mb-5"><a th:text="${departamento}"> </a> </h2>
      <h2 th:if="${departamento == null}" class="mb-5">Listado de todas las carreras </h2>

      <ul class="list-group list-group-flush col-lg-6 col-md-12">
        <a th:if="${departamento != null}" th:each="carrera:${listaCarreras}" class="list-group-item list-group-item-action fs-5 d-flex" th:href="@{/listadoDepartamentos/} + ${departamento} + @{/} + ${carrera}">
          <div class="text-truncate" th:text="${carrera}"></div>
          <span class="badge bg-primary rounded-pill ms-auto" th:text="${materiasPorCarrera[carreraStat.index]}"></span>
        </a>
        <a th:if="${departamento == null}" th:each="carrera:${listaCarreras}" class="list-group-item list-group-item-action fs-5 d-flex" th:href="@{/listadoCarreras} + @{/} + ${carrera}">
          <div class="text-truncate" th:text="${carrera}"></div>
          <span class="badge bg-primary rounded-pill ms-auto" th:text="${materiasPorCarrera[carreraStat.index]}"></span>
        </a>
      </ul>
    </div>


    <footer th:replace="fragments/footer :: footer"> </footer>
    <footer th:replace="fragments/scripts :: scripts"> </footer>
  </body>
</html>