<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragments/head :: head(title='Listado de documentos | UNLa Library')"></head>
   
   <body>
    <nav th:replace="fragments/navegacion"></nav>

    <div class="container espaciador">
      <h2 class="mb-4"><a th:text="${materia.nombre}"> </a> </h2>
      
      <div class="row">
        <div th:each="documento:${listaDocumentos}" class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <div class="card h-100 shadow">                  
            <div class="card-body">
              <h2 th:text="${documento.titulo}" class="card-title">Título</h2>
              <h5 th:text="${documento.materia.departamento}" class="card-text">Departamento</h5>
              <p th:text="${documento.descripcion}" class="card-text">Resumen</p>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <a class="btn btn-outline-primary me-2" th:href="@{/listadoDocumentos/documento?id=} + ${documento.id}">Ver documento</a>
                
                <div class="dropdown">
                  <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                  </a>
                
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Modificar</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button type="button" class="dropdown-item text-danger" data-bs-toggle="modal" th:attr="data-bs-target='#deleteWarning' + ${documento.id}">Eliminar</button></li>
                  </ul>
                </div>
                <!-- Advertencia eliminar -->
                <div class="modal fade" th:id="'deleteWarning' + ${documento.id}" tabindex="-1" aria-labelledby="deleteWarningTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteWarningTitle">Confirmar eliminacion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Estas seguro que queres eliminar el documento?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-outline-danger" th:href="@{/eliminarDocumento?id=} + ${documento.id}">Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 mb-5">
          <a class="w-100 h-100" th:href="@{/agregarDocumento/materia?id=} + ${materia.idMateria}">
            <i class="fa fa-plus-square w-100 text-primary add-documento border-primary border-5 text-center align-self-center"></i>
          </a>
        </div>
        
      </div>
      
  
      <footer th:replace="fragments/footer :: footer"> </footer>
      <footer th:replace="fragments/scripts :: scripts"> </footer>
   </body>
</html>